@CHARSET "ISO-8859-1";
body
{
		background-color:	#66CCFF;
   
	
}
img
{
	padding-top: 10px; 
	padding-left:10px;
	padding-right: 10px;
	padding-bottom: 10px;
	
}
img
{
opacity:0.4;
filter:alpha(opacity=40); 
}
img:hover
{
opacity:1.0;
filter:alpha(opacity=100);
}
table
{
	margin:auto;
}
nav
{
	padding-left: 20%;
	border-radius:5px;
}
li
{
	float:left; 
   display:inline;
}
ul
{
list-style-type:none;
margin:0;
padding:0;
overflow:hidden;
}

a.navbar:link,a.navbar:visited
{
display:block;
width:120px;
font-weight:bold;
color:#FFFFFF;
background-color:#98bf21;
text-align:center;
padding:4px;
text-decoration:none;
text-transform:uppercase;
}
a.navbar:hover,a.navbar:active
{
background-color:#7A991A;
}
